# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java

# IDEs
*.iml
.idea/
.vscode/
*.classpath
*.project
*.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Dependency caches
.mvn/
dependency-reduced-pom.xml

# Build outputs
build/
out/

# Node/React (si vas a usar la SPA en presentation/spa)
node_modules/
dist/
